body {
    font-family: 'Open Sans', sans-serif;
}

body h1 {
    font-size: 48px;
    text-decoration: overline;
}

.title-bar {
    filter: drop-shadow(0px 2px 5px black);
    background: linear-gradient(180deg, rgba(13,13,208,1) 0%, rgba(0,212,255,1) 100%);
}

.weather-data {
    filter: drop-shadow(0px 2px 5px black);
    border: 2px solid #17a2b8;
    border-radius: 5px;
}

.forecast {
    filter: drop-shadow(0px 2px 3px black);
}